.newsMiniCard{
    height: 100%;
    width: 100%;
    position: relative;
    text-align: left;
    cursor: pointer;
    user-select: none;
    border: 1px solid rgba(255, 255, 255, 0);
}

.newsMiniCard:hover {
    border: 1px solid rgb(219, 219, 219);
}

.newsMiniCard:hover img{
    transition: 0.3s all ease-in-out;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}


.newsMiniCard img {
    height: 100%;  
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 100%;
    object-fit: cover;  
    background-size: contain;
}

.cardTitle{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.459);
    padding:5px;
    box-sizing:border-box;
    color:rgb(255, 255, 255);
    position: absolute;
    bottom:5px;
    margin:0;
}

